{% extends 'users/base.html' %}

{% block title %}
<title>Register</title>
<style>
body{
    padding-top: 25vh;
    min-height: 100vh;
    background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/maps-satellite-images/satellite-image-of-globe.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.hrf{
    font-size: 25px;
    color: white;
    font-weight: 1000;
    -webkit-text-stroke-color: rgb(73, 73, 73);
     -webkit-text-stroke-width: 1px;
}
    .form{
        width: 505px;
        height: 370px;
        margin: 0 auto;
        background-color: rgba(0, 167, 255, 0.5);
        padding: 20px;
        text-align: center;
        border: 10px rgba(255, 255, 255, 0.5) solid;
        border-radius: 30px;
    }
    .input{
        margin: 20px 0;
        display: block;
    }
    .txt{
        font-size: 50px;
        color: white;
        font-family: Arial;
        font-weight: 1000;
    }
    .flash{
        font-style: italic;
        color: rgb(255, 100, 100);
        font-weight: 1000;
        -webkit-text-stroke-color: rgb(73, 73, 73);
        -webkit-text-stroke-width: 2px;
    }
</style>
{% endblock %}

{% block content %}
<form action="{{  url_for('.login') }}" enctype="multipart/form-data" method="POST" class="form">
    <h1 class="txt">Login</h1>
    <input type="email" class="input form-control" placeholder="Email" name="email" required>
    <input type="password" class="input form-control" placeholder="Password" name="password" required>
    <input type="submit" class="input btn btn-primary" value="Login"><br>
    <a class="hrf" href="{{url_for('users.register')}}">Or try to register</a>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="flash">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    {% endwith %}
</form>


{% endblock %}
